# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environments
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Media files
Media/

# Static and build files
staticfiles/
build/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
*.env
.docker/

# Node / frontend
node_modules/

# Coverage reports
htmlcov/
.coverage
